* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

.left-container {
    width: 13em;
    height: 28em;
    background-color: #0a5b5e;
    border-bottom-right-radius: 260px;
    display: inline-block;
}

.left-container img:nth-child(1) {
    position: relative;
    top: 56px;
    left: 95px;
}


.left-container img:nth-child(2) {
    position: relative;
    top: 37px;
    left: 66px;
}

.bottom-container {
    width: 20%;
    height: 201px;
    text-align: right;
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;
}

.bottom-container img{
    /* position: relative;
    bottom: 330px;
    left: 126px; */
    width: 321px;
    height: 200px;
}

.navbar {
    width: 80%;
    height: 200px;
    /* border: 1px solid black; */
    /* display: inline-block; */
    float: right;
}


.navbar {
    overflow: hidden;
    font-size: 16px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 26px;
}


.info {
    margin-top: 47px;
    font-size: 38px;
}

.info #garden-heading {
    font-weight: bold;
    font-size: 34px;
    padding-top: 12px;
}

.info #line hr{
    width: 356px;
    height: 4px;
    color: wbl;
    color: black;
    background-color: black;
    margin-top: 21px;
}


.first-img-container {
    outline: none;
    width: 285px;
    height: 49%;
    display: inline-block;
    position: relative;
    bottom: 308px;
    left: 100px;
    background-color: #ccc;
    border-top-left-radius: 172px;
    border-top-right-radius: 171px;
    border: none;
}

.first-img-container img{
    height: 97%;
    position: relative;
    top: 48px;
    right: 56px;
    width: 573px;  
}

.main-heading-container {
    width: 43%;
    float: right;
    position: relative;
    bottom: 300px;
    right: 8%;
}

.main-heading-container pre {
    font-size: 45px;
    font-weight: bolder;
    height: 147px;
}

.para-container {
    width: 50%;
    font-size: 18px;
    margin-top: -10px;
}

.main-heading-container button {
    width: 166px;
    padding: 9px;
    margin: 20px 0;
    background-color: #0a5b5e;
    color: white;
    outline: none;
    border: none;
    font-size: 22px;
}


.shop-plants-container {
    float: right;
    width: 17%;
    position: relative;
    right: 72px;
    bottom: 232px
}

.shop-plants-one {
    padding: 1px;
    text-align: center;
    background-color: green;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background-color: #0a5b5e;
}

.shop-plants-container .shop-plants-two, .shop-plants-three, .shop-plants-four {
    padding: 10px;
    background-color: lightgray;
    color: black;
    margin: 8px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.discount-container {
    background-color: #c6cdc6;
    width: 67%;
    position: relative;
    bottom: 266px;
    left: 98px;
    display: inline-block;
    height: 157px;
}

.discount-container .discount-img-cont-1, .discount-img-cont-2, .discount-img-cont-3 {
    float: right;
    position: relative;
    bottom: 123px;
    margin: 0 20px;
    right: 6px;
}

.discount-container .discount-img-cont-1 img, .discount-img-cont-2 img, .discount-img-cont-3 img {
    width: 200px;
}

.discount-heading-container {
    float: left;
    width: 22%;
    margin-left: 40px;
    margin-top: 13px;
}

.discount-heading-container h2 {
    font-size: 30px;
    margin: 4px 0;
}

.discount-heading-container p {
    font-size: 11px;
}

.contact-container {
    position: absolute;
    right: 185px;
    bottom: 106px;
    font-size: 21px;
}

.contact-container p {
    margin: 10px 0;
    text-align: right;
}
